.threads-page {
  display: flex;
}

.post-list {
  flex: 2;
}

.post-list li {
  white-space: pre-wrap;
}

.post-list button {
  margin: 10px 5px;
  cursor: pointer;
}

.post-form {
  flex: 1;
  padding: 5% 10%;
}

.post-form textarea {
  width: 100%;
  height: 200px;
}

.button-group-new-post {
  margin-top: 20px;
  text-align: right;
}

.post-form button {
  width: 70px;
  height: 40px;
  font-size: large;
  cursor: pointer;
}
